*{
    color: beige;
}

body{
    display: flexbox;
    overflow-y: scroll;
    height: auto;
}
.bg-grad{
    background: linear-gradient(to top, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);

}

.page-title{
    padding: 3rem;
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);

}

h1{
    font-size: 25px;
}

nav{
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);
    font-size: 20px;
}
.logo{
    height: 2%;
    width: 2%;
}
.nav-link{
    color: beige;
}

a{
    color: beige;
    text-decoration: none;
}

main{
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);

}

/* About Me CSS */
.myPic{
    margin-left: auto;
}

.card{
    background-color: transparent;
}

.aboutMe-txt{
    font-size: 25px;
}

.card-body{
    color: inherit;
}

h2{
    font-size: 45px;
  
}

.img-fluid{
    margin-left: auto;
}

.card-text{
    font-size: 20px;
}

/* My Works */
.title{
    padding-left: 1rem;
    padding-right: 1rem;
}
.worksCard{
    background: radial-gradient(circle at 10% 20%, rgb(15, 213, 172) 0%, rgb(34, 182, 198) 100.2%);
}
h3{
    font-size: 30px;
}
.works-card-title{
    color: #002244;
}
.btn{
    font-size: 25px;
    color: inherit;
}
.btn-outline-light {
    --bs-btn-border-color: beige;
    --bs-btn-hover-color: beige;
    --bs-btn-hover-bg: #007791;
    --bs-btn-hover-border-color: #f8f9fa;
    color: #005A9C;
}

.horiseonTxt{
    padding-bottom: 2.1rem;
}

/* Contact CSS */
.contact{
    text-align: left;
    font-size: 15px;
}
.list-group-item{
    background-color: transparent;
    color: inherit;
    display: inline-flexbox;
}

.btn{
    background-color: transparent;
}

.btn-outline-info{
    border: none;
}

/* for big screens */
@media (min-width: 1400px) {
    h1{
        font-size: 75px;
    }
    nav{
        font-size: 40px;
    }
    h2{
        font-size: 75px;
      
    }
    .aboutMe-txt{
        padding-top: 45rem;
        font-size: 80px;
    }
    .card-text{
        font-size: 35px;
    }
    h3{
        font-size: 50px;
    }
    .contact{
        font-size: 45px;
        text-align: center;
    }
}