*{
    color: beige;
}

body{
    display: flexbox;
    overflow-y: scroll;
    height: auto;
}
.bg-grad{
    background: linear-gradient(to top, rgb(0, 102, 161) 0%, rgb(0, 68, 108) 90.1%);

}

.page-title{
    padding: 3rem;
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);

}
nav{
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);
}
.logo{
    height: 2%;
    width: 2%;
}
.nav-link{
    color: beige;
}

a{
    color: beige;
    text-decoration: none;
}

main{
    background: linear-gradient(109.6deg, rgb(31, 179, 237) 11.2%, rgb(17, 106, 197) 91.1%);

}

/* About Me CSS */
img{
    height: 50%;
    width: 50%;
    margin-left: auto;
}

.contact-card{
    background-color: transparent;
}

.card h2{
    font-size: 34px;
}

.card-body{
    color: inherit;
}

h2{
    font-size: 34px;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* My Works */
.works{
    width: 40rem;
}
.works .card-body{
    background-color: slategrey;
}

.works-btn{
    border-color: antiquewhite;
}
.card-title{
    color: aliceblue;
}

.horiseon-img-fluid{
    height: 20rem;
    width: 12rem;
}

.horiseon-card-body{
    background-color: slategrey;
    height: 20rem;

}
.horiseon-card-title{
    color: aliceblue;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.horiseon-card-text{
    padding-bottom: 2rem;
}

/* Contact CSS */
.list-group-item{
    background-color: transparent;
    color: inherit;
    display: inline-flexbox;
}

.btn{
    background-color: transparent;
}

.btn-outline-info{
    border: none;
}